>=net-libs/nodejs-14.2.0 inspector
netprint/cups zeroconf
>=media-video/ffmpeg-4.2.3 chromium
www-client/firefox-bin pulseaudio
net-misc/freerdp openh264 pulseaudio
sys-apps/util-linux static-libs
net-print/gutenprint gimp
net-wireless/lorcon python
dev-lang/mono minimal
net-analyzer/mtr -gtk
mail-client/mutt berkdb gpg imap smtp pop smime sasl doc -gdbm -lmdb -qdbm -tokyocabinet
sys-libs/ncurses -gpm
media-plugins/alsa-plugins pulseaudio
dev-lang/python -bluetooth
>=dev-python/QtPy-1.9.0-r2 printsupport
dev-qt/qtmultimedia widgets
net-misc/remmina crypt cups nls rdp spice ssh vnc
app-admin/rsyslog openssl
x11-terms/rxvt-unicode 256-color xft
sys-libs/tevent python
sys-libs/tdb python
app-crypt/pinentry gnome-keyring
app-text/texlive-core cjk xetex
media-libs/gd fontconfig
app-text/texlive X png truetype xml cjk context detex dvi2tty epspdf extra games graphics humanities jadetex luatex metapost music pdfannotextractor pstricks publishers science tex4ht texi2html xetex xindy
mail-client/thunderbird-bin -alsa
sys-libs/zlib minizip
media-libs/libsdl2 haptic
x11-base/xorg-server suid
x11-terms/xterm Xaw3d xinerama
net-libs/zeromq drafts
