net-nds/ApacheDirectoryStudio ~amd64
=x11-themes/arc-theme-20190917 ~amd64
media-sound/ardour ~adm64
net-analyzer/arp-scan ~amd64
x11-wm/awesome ~amd64
app-misc/crunch ~amd64
app-admin/haskell-updater ~amd64
media-sound/jack ~amd64
media-sound/mumble ~amd64
net-wireless/reaver ~amd64
#=net-im/skypeforlinux-8.47.0.59 ~amd64
net-im/skypeforlinux ~amd64
net-fs/smbnetfs ~amd64
net-im/teams ~amd64
net-vpn/tinc ~amd64
virtual/wireguard ~amd64
