text/html;                      links %s; nametemplate=%s.html
text/html;                      links -dump %s; nametemplate=%s.html; copiousoutput
application/msword; antiword '%s'; copiousoutput; description=Word Document; nametemplate=%s.doc
application/pdf; pdftotext '%s' -; copiousoutput; description=PDF Document; nametemplate=%s.pdf
