vault_default_user_password: HASH_OF_DEFAULT_GNU_LINUX_USER_PASSWORD

vault_public_key_<USER>: |
  SSH_PUBKEY01_OF_<USER>
  SSH_PUBKEY02_OF_<USER>

vault_munin_admin_user: munin
vault_munin_admin_password: munin

vault_private_key_munin_user_host: |
  SSH_PRIV_KEY_OF_munin_user_USER_ON_USER_HOST
vault_public_key_munin_user_host: SSH_PUB_KEY_OF_munin_user_USER_ON_USER_HOST

vault_private_key_backup_user_host: |
  SSH_PRIV_KEY_OF_backup_user_USER_ON_USER_HOST
vault_public_key_backup_user_host: SSH_PUBKEY_OF_backup_user_USER_ON_BACKUP_HOST

vault_ldap_admin_user_password: LDAP_ADMIN_PASSWORD
vault_ldap_config_admin_user_password: LDAP_CONFIG_ADMIN_PASSWORD

vault_icinga2_server_mariadb_root_password: RANDOM_PASSWORD
vault_icinga2_server_mariadb_users_icinga_password: RANDOM_PASSWORD
vault_icinga2_server_mariadb_users_icingaweb2_password: RANDOM_PASSWORD
vault_icinga2_server_api_users_root_password: RANDOM_PASSWORD
vault_icinga2_server_icingaweb2_main_user_password: RANDOM_PASSWORD
# openssl passwd -1 thePassword
vault_icinga2_server_icingaweb2_main_user_password_hash_manual: HASHED_RANDOM_PASSWORD
vault_icinga2_server_ticket_salt: RANDOM_SALT
vault_icinga2_server_icingaweb2_main_user_email: EMAIL_TO_SEND_ICINGA_ALERTS
vault_icinga2_server_icinga_ssh_pubkey: SSH_PUB_KEY_OF_nagios_user_USER_ON_HOSTS
vault_icinga2_server_icinga_ssh_privkey: SSH_PRIV_KEY_OF_nagios_user_USER_ON_HOSTS
